<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FinalScreenBeaverRightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{176,249}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,249}}</string>
                <key>sourceSize</key>
                <string>{176,249}</string>
            </dict>
            <key>FinalScreenClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,8},{92,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,104}}</string>
                <key>sourceSize</key>
                <string>{92,104}</string>
            </dict>
            <key>FinalScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,8},{369,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,578}}</string>
                <key>sourceSize</key>
                <string>{369,578}</string>
            </dict>
            <key>FinalScreenGoToRecordsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,8},{284,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,71}}</string>
                <key>sourceSize</key>
                <string>{284,71}</string>
            </dict>
            <key>FinalScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,8},{581,645}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{581,645}}</string>
                <key>sourceSize</key>
                <string>{581,645}</string>
            </dict>
            <key>FinalScreenBeaverRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,8},{129,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,98}}</string>
                <key>sourceSize</key>
                <string>{129,98}</string>
            </dict>
            <key>FinalScreenBeaverLeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1687,8},{90,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,203}}</string>
                <key>sourceSize</key>
                <string>{90,203}</string>
            </dict>
            <key>FinalScreenBeaverLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1785,8},{84,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,90}}</string>
                <key>sourceSize</key>
                <string>{84,90}</string>
            </dict>
            <key>FinalScreenGoToRecordsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,661},{284,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,72}}</string>
                <key>sourceSize</key>
                <string>{284,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>FinalScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
