<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>Players</key>
        <array>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>97509</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>93668</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>51560</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>50970</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>50380</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>49790</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>49200</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>48610</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>48020</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>47430</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>46840</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>46250</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>45660</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>45070</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>44480</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>43890</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>43300</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>42710</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>42120</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>41530</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>40940</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>40350</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>39760</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>39170</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>38580</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>37990</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>37400</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>36810</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>36220</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>35630</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>35040</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>34450</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>33860</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>33270</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>32680</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>32090</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>31500</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>30910</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>30320</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>29730</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>29140</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>28550</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>27960</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>27370</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>26780</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>26190</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>25600</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>25010</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>24420</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>23830</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>23240</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>22650</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>22060</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>21470</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>20880</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>20290</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>19700</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>19110</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>18520</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>17930</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>17340</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>16750</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>16160</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>апа</string>
                <key>PlayerScore</key>
                <integer>16038</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>15570</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>14980</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>sasha</string>
                <key>PlayerScore</key>
                <integer>14680</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>14390</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>верон дон дон</string>
                <key>PlayerScore</key>
                <integer>13944</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>13800</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>а</string>
                <key>PlayerScore</key>
                <integer>13464</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>апа</string>
                <key>PlayerScore</key>
                <integer>13432</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>13210</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>12620</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>12354</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>12156</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>12030</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>11440</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>10850</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>10260</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>9670</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>9080</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>8490</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ва</string>
                <key>PlayerScore</key>
                <integer>7915</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>7900</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>7441</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>7310</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha4</string>
                <key>PlayerScore</key>
                <integer>7230</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ф</string>
                <key>PlayerScore</key>
                <integer>6811</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>6720</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ф</string>
                <key>PlayerScore</key>
                <integer>6619</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>6130</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>5540</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha3</string>
                <key>PlayerScore</key>
                <integer>5000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>5000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>4950</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>4360</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>3770</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>sasha</string>
                <key>PlayerScore</key>
                <integer>3275</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>3250</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>3180</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>вв</string>
                <key>PlayerScore</key>
                <integer>2835</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>а</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>р</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>р</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>р</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>л</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>р</string>
                <key>PlayerScore</key>
                <integer>2725</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>2590</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>veronika</string>
                <key>PlayerScore</key>
                <integer>2228</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>sasha</string>
                <key>PlayerScore</key>
                <integer>1854</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>sasha</string>
                <key>PlayerScore</key>
                <integer>973</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>п</string>
                <key>PlayerScore</key>
                <integer>926</integer>
            </dict>
        </array>
    </dict>
</plist>
