<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameDevelopersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{362,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,571}}</string>
                <key>sourceSize</key>
                <string>{362,571}</string>
            </dict>
            <key>GameDevelopersStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,8},{136,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,325}}</string>
                <key>sourceSize</key>
                <string>{136,325}</string>
            </dict>
            <key>GameDevelopersBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,8},{126,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,179}}</string>
                <key>sourceSize</key>
                <string>{126,179}</string>
            </dict>
            <key>GameDevelopersPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,8},{160,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,36}}</string>
                <key>sourceSize</key>
                <string>{160,36}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,8},{160,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,37}}</string>
                <key>sourceSize</key>
                <string>{160,37}</string>
            </dict>
            <key>16.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,587},{160,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,36}}</string>
                <key>sourceSize</key>
                <string>{160,36}</string>
            </dict>
            <key>GameDevelopersUnderWaterBoardPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,587},{312,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,116}}</string>
                <key>sourceSize</key>
                <string>{312,116}</string>
            </dict>
            <key>GameDevelopersUnderWaterBackdround.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,587},{361,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,117}}</string>
                <key>sourceSize</key>
                <string>{361,117}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,587},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,587},{34,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{34,41}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,712},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,35}}</string>
                <key>sourceSize</key>
                <string>{44,35}</string>
            </dict>
            <key>GameDevelopersBeaverClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,712},{58,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,152}}</string>
                <key>sourceSize</key>
                <string>{58,152}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,712},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,712},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>GameDevelopersScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
