<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoadingScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{288,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,450}}</string>
                <key>sourceSize</key>
                <string>{288,450}</string>
            </dict>
            <key>LoadingScreenWaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,8},{368,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,39}}</string>
                <key>sourceSize</key>
                <string>{368,39}</string>
            </dict>
            <key>LoadingScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,8},{369,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,578}}</string>
                <key>sourceSize</key>
                <string>{369,578}</string>
            </dict>
            <key>LoadingScreenClockCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,8},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>LoadingScreenGameName.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,8},{155,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,129}}</string>
                <key>sourceSize</key>
                <string>{155,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>LoadingScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
