<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MoveDetailRightControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>MainGamePauseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,8},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>MainGamePauseActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,8},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>UnavailableSpellIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,8},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>rocketSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,8},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>cohesionSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,8},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>firestormSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,8},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>randomExplosionsSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,8},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
            <key>VictoryConditionPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,8},{70,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>MainGamePlayerScorePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,8},{82,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,49}}</string>
                <key>sourceSize</key>
                <string>{82,49}</string>
            </dict>
            <key>MainGameHudPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,8},{320,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,482}}</string>
                <key>sourceSize</key>
                <string>{320,482}</string>
            </dict>
            <key>queenBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,8},{64,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,34}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>princessesBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,8},{61,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,33}}</string>
                <key>sourceSize</key>
                <string>{61,33}</string>
            </dict>
            <key>kingBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1133,8},{80,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,37}}</string>
                <key>sourceSize</key>
                <string>{80,37}</string>
            </dict>
            <key>RemainTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,8},{49,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{49,48}</string>
            </dict>
            <key>GameTutorialShowLevelIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,8},{62,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,39}}</string>
                <key>sourceSize</key>
                <string>{62,39}</string>
            </dict>
            <key>greenTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,8},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>goldTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,8},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>redTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,8},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>blueTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,8},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>blackTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,8},{22,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,23}}</string>
                <key>sourceSize</key>
                <string>{22,23}</string>
            </dict>
            <key>AccelerateDetailControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,8},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>kingBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,8},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>princessesBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,8},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>queenBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,8},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>blueTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1651,8},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>goldTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,8},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>greenTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1707,8},{21,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,20}}</string>
                <key>sourceSize</key>
                <string>{23,20}</string>
            </dict>
            <key>redTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,8},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>blackTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,8},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>PlaceDetails.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,8},{55,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,37}}</string>
                <key>sourceSize</key>
                <string>{55,37}</string>
            </dict>
            <key>39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,8},{42,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,17}}</string>
                <key>sourceSize</key>
                <string>{42,17}</string>
            </dict>
            <key>RotateDetailControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,8},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,8},{31,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,15}}</string>
                <key>sourceSize</key>
                <string>{31,15}</string>
            </dict>
            <key>41.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,498},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,18}}</string>
                <key>sourceSize</key>
                <string>{34,18}</string>
            </dict>
            <key>MainGameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,498},{360,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,572}}</string>
                <key>sourceSize</key>
                <string>{360,572}</string>
            </dict>
            <key>MainGamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,498},{250,419}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,419}}</string>
                <key>sourceSize</key>
                <string>{250,419}</string>
            </dict>
            <key>MoveDetailLeftControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,498},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>MoveDetailRightControlActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,498},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>AccelerateDetailControlActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,498},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>RotateDetailControlActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,498},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>MoveDetailLeftControlActive.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,498},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>MainGameScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
