<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuScreenSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,8},{143,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,53}}</string>
                <key>sourceSize</key>
                <string>{143,53}</string>
            </dict>
            <key>MenuScreenSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,8},{143,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,53}}</string>
                <key>sourceSize</key>
                <string>{143,53}</string>
            </dict>
            <key>MenuScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,210},{362,572}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,572}}</string>
                <key>sourceSize</key>
                <string>{362,572}</string>
            </dict>
            <key>MenuScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,8},{116,194}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,194}}</string>
                <key>sourceSize</key>
                <string>{116,194}</string>
            </dict>
            <key>MenuScreenFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,8},{68,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,60}}</string>
                <key>sourceSize</key>
                <string>{68,60}</string>
            </dict>
            <key>MenuScreenFish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{33,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,41}}</string>
                <key>sourceSize</key>
                <string>{33,41}</string>
            </dict>
            <key>MenuScreenFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,8},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,36}}</string>
                <key>sourceSize</key>
                <string>{44,36}</string>
            </dict>
            <key>MenuScreenStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,210},{362,468}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,468}}</string>
                <key>sourceSize</key>
                <string>{362,468}</string>
            </dict>
            <key>MenuScreenAuthorsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,8},{171,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,66}}</string>
                <key>sourceSize</key>
                <string>{171,66}</string>
            </dict>
            <key>MenuScreenAuthorsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,8},{171,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,66}}</string>
                <key>sourceSize</key>
                <string>{171,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MenuScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
