<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EndBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>SelectLevelLeftGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,8},{264,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,394}}</string>
                <key>sourceSize</key>
                <string>{264,394}</string>
            </dict>
            <key>StartBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,8},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>StartGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,8},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>StartBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,8},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>StartLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,8},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>SelectLevelScreenTalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,8},{215,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,131}}</string>
                <key>sourceSize</key>
                <string>{215,131}</string>
            </dict>
            <key>SelectLevelScenePlayerStatusPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,8},{92,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,67}}</string>
                <key>sourceSize</key>
                <string>{92,67}</string>
            </dict>
            <key>SelectLevelScreeBeaverOnRaft.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,8},{85,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,105}}</string>
                <key>sourceSize</key>
                <string>{85,105}</string>
            </dict>
            <key>SelectLevelRightGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,8},{259,373}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,373}}</string>
                <key>sourceSize</key>
                <string>{259,373}</string>
            </dict>
            <key>EndLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,8},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>EndBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,8},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>MiddleBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1291,8},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>MiddleGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,8},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>MiddleLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,8},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>LevelCompletedSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,8},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>SelectLevelScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,8},{367,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,575}}</string>
                <key>sourceSize</key>
                <string>{367,575}</string>
            </dict>
            <key>SelectLevelSceneBackInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1809,8},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>SelectLevelSceneBackActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,591},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>SelectLevelScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
