<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="8295DarkWind.Beavertime" Publisher="CN=19C5058A-EDD8-4DD3-9C83-A5FF0C9DA3A2" Version="1.1.0.4" />
  <Properties>
    <DisplayName>Beaver time</DisplayName>
    <PublisherDisplayName>DarkWind</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="cocos2d_Windows.App">
      <m2:VisualElements DisplayName="ms-resource:DisplayName" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ms-resource:Description" ForegroundText="light" BackgroundColor="#464646">
        <m2:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
    </Application>
  </Applications>
</Package>