<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>PlayerName</key>
        <string>veronika</string>
        <key>PlayerScore</key>
        <integer>1370</integer>
        <key>PlayerCompletedLevelsCount</key>
        <integer>9</integer>
        <key>PlayerSpellsInformation</key>
        <dict>
            <key>cohesionSpell</key>
            <dict>
                <key>count</key>
                <integer>16</integer>
                <key>rechargeInterval</key>
                <integer>20</integer>
            </dict>
            <key>firestormSpell</key>
            <dict>
                <key>count</key>
                <integer>9</integer>
                <key>rechargeInterval</key>
                <integer>20</integer>
            </dict>
            <key>randomExplosionsSpell</key>
            <dict>
                <key>count</key>
                <integer>14</integer>
                <key>rechargeInterval</key>
                <integer>20</integer>
            </dict>
            <key>rocketSpell</key>
            <dict>
                <key>count</key>
                <integer>0</integer>
                <key>rechargeInterval</key>
                <integer>50</integer>
            </dict>
        </dict>
    </dict>
</plist>
