<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>PlayerName</key>
        <string>апа</string>
        <key>PlayerScore</key>
        <integer>16309</integer>
        <key>PlayerCompletedLevelsCount</key>
        <integer>9</integer>
        <key>PlayerSpellsInformation</key>
        <dict>
            <key>cohesionSpell</key>
            <integer>16</integer>
            <key>firestormSpell</key>
            <integer>9</integer>
            <key>randomExplosionsSpell</key>
            <integer>10</integer>
            <key>rocketSpell</key>
            <integer>0</integer>
        </dict>
    </dict>
</plist>
