<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>PlayerAvailableSpellsCount</key>
        <integer>4</integer>
        <key>PlayerName</key>
        <string>в</string>
        <key>PlayerScore</key>
        <integer>3000</integer>
        <key>PlayerCompletedLevelsCount</key>
        <integer>9</integer>
    </dict>
</plist>
