<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateNewPlayerControllerGoToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,528},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>CreateNewPlayerControllerGoToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,528},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>CreateNewPlayerControllerPlayerInputPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{393,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{393,290}}</string>
                <key>sourceSize</key>
                <string>{393,290}</string>
            </dict>
            <key>FinalScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{472,523}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,523}}</string>
                <key>sourceSize</key>
                <string>{472,523}</string>
            </dict>
            <key>FinalScreenBeaverLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,0},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>FinalScreenBeaverLeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,0},{81,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,172}}</string>
                <key>sourceSize</key>
                <string>{81,172}</string>
            </dict>
            <key>FinalScreenBeaverRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,0},{90,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,88}}</string>
                <key>sourceSize</key>
                <string>{90,88}</string>
            </dict>
            <key>FinalScreenBeaverRightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,0},{150,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,208}}</string>
                <key>sourceSize</key>
                <string>{150,208}</string>
            </dict>
            <key>FinalScreenClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,0},{164,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,185}}</string>
                <key>sourceSize</key>
                <string>{164,185}</string>
            </dict>
            <key>FinalScreenGoToRecordsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1461,0},{491,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,130}}</string>
                <key>sourceSize</key>
                <string>{491,130}</string>
            </dict>
            <key>FinalScreenGoToRecordsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,528},{491,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{491,130}}</string>
                <key>sourceSize</key>
                <string>{491,130}</string>
            </dict>
            <key>MainGameEndPopResultLabelPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1254},{363,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,87}}</string>
                <key>sourceSize</key>
                <string>{363,87}</string>
            </dict>
            <key>MainGameEndPopResultLoseBeaverImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,528},{377,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{377,352}}</string>
                <key>sourceSize</key>
                <string>{377,352}</string>
            </dict>
            <key>MainGameEndPopResultWinImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,528},{438,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{438,298}}</string>
                <key>sourceSize</key>
                <string>{438,298}</string>
            </dict>
            <key>MainGameEndPopUpGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,67}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
            <key>MainGameEndPopUpGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1254},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,67}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
            <key>MainGameEndPopUpNextLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,528},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>MainGameEndPopUpNextLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,528},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,528},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,528},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>MainGameEndPopUpStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1813,528},{217,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,721}}</string>
                <key>sourceSize</key>
                <string>{217,721}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1254},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,67}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1254},{141,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,67}}</string>
                <key>sourceSize</key>
                <string>{141,67}</string>
            </dict>
            <key>MainGamePauseLabelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1254},{375,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{375,375}}</string>
                <key>sourceSize</key>
                <string>{375,375}</string>
            </dict>
            <key>MainGamePausePopUpCloseActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,528},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>MainGamePausePopUpCloseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,528},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>StartGameBackgroundSoundRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1254},{58,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,52}}</string>
                <key>sourceSize</key>
                <string>{58,52}</string>
            </dict>
            <key>StartGameSoundEffectsRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,1254},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{46,47}</string>
            </dict>
            <key>StartGameSoundRegulatorBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,528},{241,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,70}}</string>
                <key>sourceSize</key>
                <string>{241,70}</string>
            </dict>
            <key>StartGameSoundRegulatorBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1567,528},{241,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,71}}</string>
                <key>sourceSize</key>
                <string>{241,71}</string>
            </dict>
            <key>StartGameSoundRegulatorPlace.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1254},{363,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{363,87}}</string>
                <key>sourceSize</key>
                <string>{363,87}</string>
            </dict>
            <key>StartGameSoundRegulatorProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1254},{305,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,21}}</string>
                <key>sourceSize</key>
                <string>{305,21}</string>
            </dict>
            <key>StartGameSoundRegulatorStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,1254},{235,787}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{235,787}}</string>
                <key>sourceSize</key>
                <string>{235,787}</string>
            </dict>
            <key>StartGameSoundRegulatorThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1254},{44,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,45}}</string>
                <key>sourceSize</key>
                <string>{44,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>FinalScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
