<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FinalScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1601,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,901}}</string>
                <key>sourceSize</key>
                <string>{1601,901}</string>
            </dict>
            <key>FinalScreenGoToRecordsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,917},{481,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,120}}</string>
                <key>sourceSize</key>
                <string>{481,120}</string>
            </dict>
            <key>FinalScreenGoToRecordsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,917},{481,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{481,120}}</string>
                <key>sourceSize</key>
                <string>{481,120}</string>
            </dict>
            <key>FinalScreenClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,917},{154,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,175}}</string>
                <key>sourceSize</key>
                <string>{154,175}</string>
            </dict>
            <key>FinalScreenBeaverLeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,917},{71,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,162}}</string>
                <key>sourceSize</key>
                <string>{71,162}</string>
            </dict>
            <key>FinalScreenBeaverRightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,917},{140,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,198}}</string>
                <key>sourceSize</key>
                <string>{140,198}</string>
            </dict>
            <key>FinalScreenBeaverLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1375,917},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>FinalScreenBeaverRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,917},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,78}</string>
            </dict>
            <key>FinalScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,917},{462,513}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{462,513}}</string>
                <key>sourceSize</key>
                <string>{462,513}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>FinalScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
