<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameRecordsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1601,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,901}}</string>
                <key>sourceSize</key>
                <string>{1601,901}</string>
            </dict>
            <key>GameRecordBoardUnderWaterPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,917},{1601,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,181}}</string>
                <key>sourceSize</key>
                <string>{1601,181}</string>
            </dict>
            <key>GameRecordsFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,917},{124,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,89}}</string>
                <key>sourceSize</key>
                <string>{124,89}</string>
            </dict>
            <key>GameRecordsClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,917},{167,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,202}}</string>
                <key>sourceSize</key>
                <string>{167,202}</string>
            </dict>
            <key>GameRecordsFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,917},{92,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,87}}</string>
                <key>sourceSize</key>
                <string>{92,87}</string>
            </dict>
            <key>GameRecordsStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1127},{212,508}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,508}}</string>
                <key>sourceSize</key>
                <string>{212,508}</string>
            </dict>
            <key>GameRecordsUnderWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1127},{1601,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,181}}</string>
                <key>sourceSize</key>
                <string>{1601,181}</string>
            </dict>
            <key>GameRecordsBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1643},{258,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,280}}</string>
                <key>sourceSize</key>
                <string>{258,280}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1643},{284,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,63}}</string>
                <key>sourceSize</key>
                <string>{284,63}</string>
            </dict>
            <key>GameRecordsLeaderPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1643},{284,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,62}}</string>
                <key>sourceSize</key>
                <string>{284,62}</string>
            </dict>
            <key>GameRecordsPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1643},{249,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,55}}</string>
                <key>sourceSize</key>
                <string>{249,55}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,1643},{249,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,55}}</string>
                <key>sourceSize</key>
                <string>{249,55}</string>
            </dict>
            <key>GameRecordsBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,1643},{211,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,56}}</string>
                <key>sourceSize</key>
                <string>{211,56}</string>
            </dict>
            <key>GameRecordsBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,1643},{212,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,55}}</string>
                <key>sourceSize</key>
                <string>{212,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>GameRecordsScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
