<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameRecordsBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{362,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,571}}</string>
                <key>sourceSize</key>
                <string>{362,571}</string>
            </dict>
            <key>GameRecordsStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,8},{136,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,325}}</string>
                <key>sourceSize</key>
                <string>{136,325}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,8},{182,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,41}}</string>
                <key>sourceSize</key>
                <string>{182,41}</string>
            </dict>
            <key>GameRecordsLeaderPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,8},{182,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,41}}</string>
                <key>sourceSize</key>
                <string>{182,41}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,587},{182,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,42}}</string>
                <key>sourceSize</key>
                <string>{182,42}</string>
            </dict>
            <key>GameRecordsPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,587},{160,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,36}}</string>
                <key>sourceSize</key>
                <string>{160,36}</string>
            </dict>
            <key>15.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,587},{160,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,37}}</string>
                <key>sourceSize</key>
                <string>{160,37}</string>
            </dict>
            <key>GameRecordBoardUnderWaterPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,587},{312,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{312,116}}</string>
                <key>sourceSize</key>
                <string>{312,116}</string>
            </dict>
            <key>GameRecordsUnderWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,711},{361,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,117}}</string>
                <key>sourceSize</key>
                <string>{361,117}</string>
            </dict>
            <key>GameRecordsBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,711},{168,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,182}}</string>
                <key>sourceSize</key>
                <string>{168,182}</string>
            </dict>
            <key>GameRecordsFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,711},{80,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,57}}</string>
                <key>sourceSize</key>
                <string>{80,57}</string>
            </dict>
            <key>GameRecordsClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,711},{107,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,134}}</string>
                <key>sourceSize</key>
                <string>{107,134}</string>
            </dict>
            <key>GameRecordsFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,711},{69,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,52}}</string>
                <key>sourceSize</key>
                <string>{69,52}</string>
            </dict>
            <key>GameRecordsBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,711},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>GameRecordsBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,901},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>GameRecordsScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
