<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"/>

<plist version="1.0">
    <dict>
        <key>Players</key>
        <array>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>97509</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>93668</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>апа</string>
                <key>PlayerScore</key>
                <integer>16038</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>sasha</string>
                <key>PlayerScore</key>
                <integer>14680</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>верон дон дон</string>
                <key>PlayerScore</key>
                <integer>13944</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>а</string>
                <key>PlayerScore</key>
                <integer>13464</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>апа</string>
                <key>PlayerScore</key>
                <integer>13432</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>12354</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>12156</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ва</string>
                <key>PlayerScore</key>
                <integer>7915</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>в</string>
                <key>PlayerScore</key>
                <integer>7441</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha4</string>
                <key>PlayerScore</key>
                <integer>7230</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ф</string>
                <key>PlayerScore</key>
                <integer>6811</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>ф</string>
                <key>PlayerScore</key>
                <integer>6619</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>5000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha3</string>
                <key>PlayerScore</key>
                <integer>5000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
            <dict>
                <key>PlayerName</key>
                <string>Sasha2</string>
                <key>PlayerScore</key>
                <integer>2000</integer>
            </dict>
        </array>
    </dict>
</plist>
