<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GameDevelopersBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1601,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,901}}</string>
                <key>sourceSize</key>
                <string>{1601,901}</string>
            </dict>
            <key>GameDevelopersUnderWaterBackdround.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,917},{1599,179}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1599,179}}</string>
                <key>sourceSize</key>
                <string>{1599,179}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,917},{208,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,54}}</string>
                <key>sourceSize</key>
                <string>{208,54}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1831,917},{208,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,54}}</string>
                <key>sourceSize</key>
                <string>{208,54}</string>
            </dict>
            <key>GameDevelopersUnderWaterBoardPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1104},{1601,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,183}}</string>
                <key>sourceSize</key>
                <string>{1601,183}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1617,1104},{50,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{50,61}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1675,1104},{101,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,90}}</string>
                <key>sourceSize</key>
                <string>{101,90}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,1104},{65,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,52}}</string>
                <key>sourceSize</key>
                <string>{65,52}</string>
            </dict>
            <key>GameDevelopersBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1295},{185,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,266}}</string>
                <key>sourceSize</key>
                <string>{185,266}</string>
            </dict>
            <key>GameDevelopersBeaverClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1295},{109,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,288}}</string>
                <key>sourceSize</key>
                <string>{109,288}</string>
            </dict>
            <key>GameDevelopersStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1295},{203,517}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,517}}</string>
                <key>sourceSize</key>
                <string>{203,517}</string>
            </dict>
            <key>GameDevelopersPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,1295},{238,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,53}}</string>
                <key>sourceSize</key>
                <string>{238,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>GameDevelopersScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
