<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainGameEndPopUpReplayLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,8},{231,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,60}}</string>
                <key>sourceSize</key>
                <string>{231,60}</string>
            </dict>
            <key>MainGameEndPopUpGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,8},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{131,57}</string>
            </dict>
            <key>MainGameEndPopUpStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,77},{207,711}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,711}}</string>
                <key>sourceSize</key>
                <string>{207,711}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,8},{231,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,61}}</string>
                <key>sourceSize</key>
                <string>{231,61}</string>
            </dict>
            <key>MainGameEndPopUpGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,8},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{131,57}</string>
            </dict>
            <key>MainGameEndPopResultLabelPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,77},{353,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,77}}</string>
                <key>sourceSize</key>
                <string>{353,77}</string>
            </dict>
            <key>в.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{248,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,54}}</string>
                <key>sourceSize</key>
                <string>{248,54}</string>
            </dict>
            <key>MainGameEndPopResultLoseBeaverImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,77},{367,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,342}}</string>
                <key>sourceSize</key>
                <string>{367,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainLosePopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
