<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,8},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,8},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>MainGamePauseLabelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,8},{223,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,224}}</string>
                <key>sourceSize</key>
                <string>{223,224}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,8},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,8},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGamePauseBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,240},{361,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,571}}</string>
                <key>sourceSize</key>
                <string>{361,571}</string>
            </dict>
            <key>MainGamePauseStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,240},{136,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,464}}</string>
                <key>sourceSize</key>
                <string>{136,464}</string>
            </dict>
            <key>MainGamePausePopUpCloseActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,240},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,240},{180,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,7}}</string>
                <key>sourceSize</key>
                <string>{180,7}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,819},{180,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,7}}</string>
                <key>sourceSize</key>
                <string>{180,7}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,819},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,819},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>MainGamePausePopUpCloseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,819},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainGamePausePopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
