<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainGamePauseLabelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,158},{365,365}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{365,365}}</string>
                <key>sourceSize</key>
                <string>{365,365}</string>
            </dict>
            <key>MainGamePausePopUpCloseActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,73},{231,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,60}}</string>
                <key>sourceSize</key>
                <string>{231,60}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,8},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{131,57}</string>
            </dict>
            <key>MainGamePausePopUpCloseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,73},{231,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,61}}</string>
                <key>sourceSize</key>
                <string>{231,61}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,73},{131,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,57}}</string>
                <key>sourceSize</key>
                <string>{131,57}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,8},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{295,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,11}}</string>
                <key>sourceSize</key>
                <string>{295,11}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,8},{296,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,11}}</string>
                <key>sourceSize</key>
                <string>{296,11}</string>
            </dict>
            <key>MainGamePauseStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,158},{225,777}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,777}}</string>
                <key>sourceSize</key>
                <string>{225,777}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{701,8},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,8},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{625,73},{353,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,77}}</string>
                <key>sourceSize</key>
                <string>{353,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainGamePausePopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
