<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1601,901}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1601,901}}</string>
                <key>sourceSize</key>
                <string>{1601,901}</string>
            </dict>
            <key>MenuScreenStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,917},{1603,821}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1603,821}}</string>
                <key>sourceSize</key>
                <string>{1603,821}</string>
            </dict>
            <key>MenuScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,917},{203,342}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,342}}</string>
                <key>sourceSize</key>
                <string>{203,342}</string>
            </dict>
            <key>MenuScreenFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,917},{120,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,108}}</string>
                <key>sourceSize</key>
                <string>{120,108}</string>
            </dict>
            <key>MenuScreenFish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,917},{59,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,73}}</string>
                <key>sourceSize</key>
                <string>{59,73}</string>
            </dict>
            <key>MenuScreenFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,1746},{79,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,62}}</string>
                <key>sourceSize</key>
                <string>{79,62}</string>
            </dict>
            <key>MenuScreenAuthorsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,1746},{304,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,116}}</string>
                <key>sourceSize</key>
                <string>{304,116}</string>
            </dict>
            <key>MenuScreenAuthorsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1746},{304,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,116}}</string>
                <key>sourceSize</key>
                <string>{304,116}</string>
            </dict>
            <key>MenuScreenSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1746},{254,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,94}}</string>
                <key>sourceSize</key>
                <string>{254,94}</string>
            </dict>
            <key>MenuScreenSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,1746},{254,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,94}}</string>
                <key>sourceSize</key>
                <string>{254,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>MenuScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
