<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MenuScreenAuthorsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,6},{177,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,62}}</string>
                <key>sourceSize</key>
                <string>{177,62}</string>
            </dict>
            <key>MenuScreenAuthorsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,6},{177,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,62}}</string>
                <key>sourceSize</key>
                <string>{177,62}</string>
            </dict>
            <key>MenuScreenStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,6},{371,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{371,487}}</string>
                <key>sourceSize</key>
                <string>{371,487}</string>
            </dict>
            <key>MenuScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,6},{185,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,300}}</string>
                <key>sourceSize</key>
                <string>{185,300}</string>
            </dict>
            <key>MenuScreenFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,6},{84,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,74}}</string>
                <key>sourceSize</key>
                <string>{84,74}</string>
            </dict>
            <key>MenuScreenFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,6},{55,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,44}}</string>
                <key>sourceSize</key>
                <string>{55,44}</string>
            </dict>
            <key>MenuScreenFish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,6},{42,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,51}}</string>
                <key>sourceSize</key>
                <string>{42,51}</string>
            </dict>
            <key>MenuScreenSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,6},{186,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,66}}</string>
                <key>sourceSize</key>
                <string>{186,66}</string>
            </dict>
            <key>MenuScreenSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,6},{184,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,65}}</string>
                <key>sourceSize</key>
                <string>{184,65}</string>
            </dict>
            <key>MenuScreenNewGameInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,6},{236,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,59}}</string>
                <key>sourceSize</key>
                <string>{236,59}</string>
            </dict>
            <key>MenuScreenNewGameActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,6},{236,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,59}}</string>
                <key>sourceSize</key>
                <string>{236,59}</string>
            </dict>
            <key>MenuScreenRecordsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{6,499},{155,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,68}}</string>
                <key>sourceSize</key>
                <string>{155,68}</string>
            </dict>
            <key>MenuScreenRecordsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,499},{155,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,68}}</string>
                <key>sourceSize</key>
                <string>{155,68}</string>
            </dict>
            <key>MenuScreenSettingInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,499},{158,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,69}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>MenuScreenSettingActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,499},{158,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,69}}</string>
                <key>sourceSize</key>
                <string>{158,69}</string>
            </dict>
            <key>MenuScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,499},{369,578}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,578}}</string>
                <key>sourceSize</key>
                <string>{369,578}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>MenuScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
