<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SelectLevelScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{1604,905}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1604,905}}</string>
                <key>sourceSize</key>
                <string>{1604,905}</string>
            </dict>
            <key>SelectLevelLeftGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,8},{948,900}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{948,900}}</string>
                <key>sourceSize</key>
                <string>{948,900}</string>
            </dict>
            <key>MiddleLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2576,8},{69,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,99}}</string>
                <key>sourceSize</key>
                <string>{69,99}</string>
            </dict>
            <key>EndBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2653,8},{84,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,104}}</string>
                <key>sourceSize</key>
                <string>{84,104}</string>
            </dict>
            <key>StartBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2745,8},{100,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,129}}</string>
                <key>sourceSize</key>
                <string>{100,129}</string>
            </dict>
            <key>StartGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2853,8},{90,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,124}}</string>
                <key>sourceSize</key>
                <string>{90,124}</string>
            </dict>
            <key>StartBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2951,8},{88,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,115}}</string>
                <key>sourceSize</key>
                <string>{88,115}</string>
            </dict>
            <key>StartLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3047,8},{85,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,84}}</string>
                <key>sourceSize</key>
                <string>{85,84}</string>
            </dict>
            <key>SelectLevelSceneBackActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3140,8},{218,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,57}}</string>
                <key>sourceSize</key>
                <string>{218,57}</string>
            </dict>
            <key>SelectLevelSceneBackInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3366,8},{217,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,57}}</string>
                <key>sourceSize</key>
                <string>{217,57}</string>
            </dict>
            <key>GameTutorialShowLevelIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3591,8},{109,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,217}}</string>
                <key>sourceSize</key>
                <string>{109,217}</string>
            </dict>
            <key>MiddleGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3708,8},{119,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,111}}</string>
                <key>sourceSize</key>
                <string>{119,111}</string>
            </dict>
            <key>SelectLevelRightGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,921},{903,587}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{903,587}}</string>
                <key>sourceSize</key>
                <string>{903,587}</string>
            </dict>
            <key>SelectLevelScreenTalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,921},{251,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,213}}</string>
                <key>sourceSize</key>
                <string>{251,213}</string>
            </dict>
            <key>LevelCompletedSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,921},{300,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,181}}</string>
                <key>sourceSize</key>
                <string>{300,181}</string>
            </dict>
            <key>SelectLevelScenePlayerStatusPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,921},{216,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,158}}</string>
                <key>sourceSize</key>
                <string>{216,158}</string>
            </dict>
            <key>EndBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,921},{86,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,98}}</string>
                <key>sourceSize</key>
                <string>{86,98}</string>
            </dict>
            <key>SelectLevelScreeBeaverOnRaft.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,921},{137,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,170}}</string>
                <key>sourceSize</key>
                <string>{137,170}</string>
            </dict>
            <key>EndLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,921},{122,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{122,135}}</string>
                <key>sourceSize</key>
                <string>{122,135}</string>
            </dict>
            <key>MiddleBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2079,921},{88,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,137}}</string>
                <key>sourceSize</key>
                <string>{88,137}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>textureFileName</key>
            <string>SelectLevelScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
