<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EndBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>SelectLevelLeftGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{49,8},{213,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,310}}</string>
                <key>sourceSize</key>
                <string>{213,310}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,8},{49,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,167}}</string>
                <key>sourceSize</key>
                <string>{49,167}</string>
            </dict>
            <key>StartBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,8},{48,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,64}}</string>
                <key>sourceSize</key>
                <string>{48,64}</string>
            </dict>
            <key>StartGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,8},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>StartBlockCollectionLevel.png</key> 
            <dict>
                <key>frame</key>
                <string>{{424,8},{35,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,43}}</string>
                <key>sourceSize</key>
                <string>{35,43}</string>
            </dict>
            <key>StartLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,8},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>SelectLevelRightGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,8},{224,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,306}}</string>
                <key>sourceSize</key>
                <string>{224,306}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,8},{123,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,231}}</string>
                <key>sourceSize</key>
                <string>{123,231}</string>
            </dict>
            <key>EndLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{863,8},{55,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>sourceSize</key>
                <string>{55,60}</string>
            </dict>
            <key>EndBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,8},{43,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{43,51}</string>
            </dict>
            <key>MiddleBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,8},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>MiddleGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,326},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>MiddleLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,326},{19,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,26}}</string>
                <key>sourceSize</key>
                <string>{19,26}</string>
            </dict>
            <key>LevelCompletedSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,326},{15,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,20}}</string>
                <key>sourceSize</key>
                <string>{15,20}</string>
            </dict>
            <key>SelectLevelScreeBeaverOnRaft.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,326},{84,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,105}}</string>
                <key>sourceSize</key>
                <string>{84,105}</string>
            </dict>
            <key>SelectLevelScreenTalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,326},{298,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,182}}</string>
                <key>sourceSize</key>
                <string>{298,182}</string>
            </dict>
            <key>SelectLevelScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,326},{367,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,575}}</string>
                <key>sourceSize</key>
                <string>{367,575}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>SelectLevelScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
