<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>StartGameSoundRegulatorBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{231,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,60}}</string>
                <key>sourceSize</key>
                <string>{231,60}</string>
            </dict>
            <key>StartGameSoundRegulatorBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,8},{231,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,61}}</string>
                <key>sourceSize</key>
                <string>{231,61}</string>
            </dict>
            <key>StartGameSoundRegulatorThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,8},{34,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,35}}</string>
                <key>sourceSize</key>
                <string>{34,35}</string>
            </dict>
            <key>StartGameSoundRegulatorProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,8},{295,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,11}}</string>
                <key>sourceSize</key>
                <string>{295,11}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,8},{296,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,11}}</string>
                <key>sourceSize</key>
                <string>{296,11}</string>
            </dict>
            <key>StartGameSoundRegulatorStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,8},{225,777}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,777}}</string>
                <key>sourceSize</key>
                <string>{225,777}</string>
            </dict>
            <key>StartGameBackgroundSoundRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,8},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,42}</string>
            </dict>
            <key>StartGameSoundEffectsRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,8},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>StartGameSoundRegulatorPlace.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,8},{353,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,77}}</string>
                <key>sourceSize</key>
                <string>{353,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>textureFileName</key>
            <string>StartGameSoundRegulatorsPopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
