<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AccelerateDetailControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,89},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>EndBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3576,89},{105,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,130}}</string>
                <key>sourceSize</key>
                <string>{105,130}</string>
            </dict>
            <key>EndBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{3454,3},{68,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,79}}</string>
                <key>sourceSize</key>
                <string>{68,79}</string>
            </dict>
            <key>EndLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,222},{136,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,154}}</string>
                <key>sourceSize</key>
                <string>{136,154}</string>
            </dict>
            <key>FinalScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2653,454},{529,593}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{529,593}}</string>
                <key>sourceSize</key>
                <string>{529,593}</string>
            </dict>
            <key>FinalScreenBeaverLeftEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{3958,3},{76,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,83}}</string>
                <key>sourceSize</key>
                <string>{76,83}</string>
            </dict>
            <key>FinalScreenBeaverLeftHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,222},{82,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,187}}</string>
                <key>sourceSize</key>
                <string>{82,187}</string>
            </dict>
            <key>FinalScreenBeaverRightEye.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,89},{117,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,90}}</string>
                <key>sourceSize</key>
                <string>{117,90}</string>
            </dict>
            <key>FinalScreenBeaverRightHand.png</key>
            <dict>
                <key>frame</key>
                <string>{{2890,222},{160,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,229}}</string>
                <key>sourceSize</key>
                <string>{160,229}</string>
            </dict>
            <key>FinalScreenClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2543,222},{177,203}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,203}}</string>
                <key>sourceSize</key>
                <string>{177,203}</string>
            </dict>
            <key>FinalScreenGoToRecordsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,222},{554,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,139}}</string>
                <key>sourceSize</key>
                <string>{554,139}</string>
            </dict>
            <key>FinalScreenGoToRecordsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,222},{554,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{554,139}}</string>
                <key>sourceSize</key>
                <string>{554,139}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3172,3},{279,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,75}}</string>
                <key>sourceSize</key>
                <string>{279,75}</string>
            </dict>
            <key>GameDevelopersBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2890,3},{279,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,75}}</string>
                <key>sourceSize</key>
                <string>{279,75}</string>
            </dict>
            <key>GameDevelopersBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,454},{228,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,324}}</string>
                <key>sourceSize</key>
                <string>{228,324}</string>
            </dict>
            <key>GameDevelopersBeaverClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,454},{146,383}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,383}}</string>
                <key>sourceSize</key>
                <string>{146,383}</string>
            </dict>
            <key>GameDevelopersPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{3525,3},{361,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,79}}</string>
                <key>sourceSize</key>
                <string>{361,79}</string>
            </dict>
            <key>GameRecordBoardUnderWaterPart.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,454},{621,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{621,229}}</string>
                <key>sourceSize</key>
                <string>{621,229}</string>
            </dict>
            <key>GameRecordsBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3172,3},{279,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,75}}</string>
                <key>sourceSize</key>
                <string>{279,75}</string>
            </dict>
            <key>GameRecordsBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2890,3},{279,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,75}}</string>
                <key>sourceSize</key>
                <string>{279,75}</string>
            </dict>
            <key>GameRecordsBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,454},{334,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,361}}</string>
                <key>sourceSize</key>
                <string>{334,361}</string>
            </dict>
            <key>GameRecordsClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,454},{211,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,256}}</string>
                <key>sourceSize</key>
                <string>{211,256}</string>
            </dict>
            <key>GameRecordsFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,89},{117,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,111}}</string>
                <key>sourceSize</key>
                <string>{117,111}</string>
            </dict>
            <key>GameRecordsFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2250,89},{158,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,113}}</string>
                <key>sourceSize</key>
                <string>{158,113}</string>
            </dict>
            <key>GameRecordsLeaderPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{3525,3},{361,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,79}}</string>
                <key>sourceSize</key>
                <string>{361,79}</string>
            </dict>
            <key>GameRecordsPlacePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,3},{317,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,70}}</string>
                <key>sourceSize</key>
                <string>{317,70}</string>
            </dict>
            <key>GameRecordsStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{3185,454},{269,644}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{269,644}}</string>
                <key>sourceSize</key>
                <string>{269,644}</string>
            </dict>
            <key>GameRecordsUnderWater.png</key>
            <dict>
                <key>frame</key>
                <string>{{3053,222},{720,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,229}}</string>
                <key>sourceSize</key>
                <string>{720,229}</string>
            </dict>
            <key>GameTutorialShowLevelIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,3},{77,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,48}}</string>
                <key>sourceSize</key>
                <string>{77,48}</string>
            </dict>
            <key>LevelCompletedSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,3},{29,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,39}}</string>
                <key>sourceSize</key>
                <string>{29,39}</string>
            </dict>
            <key>LoadingScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2265},{721,1141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1141}}</string>
                <key>sourceSize</key>
                <string>{721,1141}</string>
            </dict>
            <key>LoadingScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{3457,454},{515,665}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{515,665}}</string>
                <key>sourceSize</key>
                <string>{515,665}</string>
            </dict>
            <key>LoadingScreenClock.png</key>
            <dict>
                <key>frame</key>
                <string>{{2354,454},{296,581}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,581}}</string>
                <key>sourceSize</key>
                <string>{296,581}</string>
            </dict>
            <key>LoadingScreenClockCover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2497,89},{117,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,116}}</string>
                <key>sourceSize</key>
                <string>{117,116}</string>
            </dict>
            <key>LoadingScreenGameName.png</key>
            <dict>
                <key>frame</key>
                <string>{{2065,222},{239,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,200}}</string>
                <key>sourceSize</key>
                <string>{239,200}</string>
            </dict>
            <key>LoadingScreenWaves.png</key>
            <dict>
                <key>frame</key>
                <string>{{2167,3},{720,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,75}}</string>
                <key>sourceSize</key>
                <string>{720,75}</string>
            </dict>
            <key>MainGameBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,2265},{721,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1140}}</string>
                <key>sourceSize</key>
                <string>{721,1140}</string>
            </dict>
            <key>MainGameEndPopResultWinImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{1409,454},{557,375}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,375}}</string>
                <key>sourceSize</key>
                <string>{557,375}</string>
            </dict>
            <key>MainGameEndPopUpNextLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,3},{323,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,70}}</string>
                <key>sourceSize</key>
                <string>{323,70}</string>
            </dict>
            <key>MainGameEndPopUpNextLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1195,3},{323,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,70}}</string>
                <key>sourceSize</key>
                <string>{323,70}</string>
            </dict>
            <key>MainGameHudPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2264,1122},{639,962}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{639,962}}</string>
                <key>sourceSize</key>
                <string>{639,962}</string>
            </dict>
            <key>MainGamePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,1122},{502,836}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{502,836}}</string>
                <key>sourceSize</key>
                <string>{502,836}</string>
            </dict>
            <key>MainGamePauseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,89},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{98,98}</string>
            </dict>
            <key>MainGamePlayerScorePad.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,89},{164,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,97}}</string>
                <key>sourceSize</key>
                <string>{164,97}</string>
            </dict>
            <key>MenuScreenAuthorsActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2896,89},{337,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,129}}</string>
                <key>sourceSize</key>
                <string>{337,129}</string>
            </dict>
            <key>MenuScreenAuthorsInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{3236,89},{337,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,129}}</string>
                <key>sourceSize</key>
                <string>{337,129}</string>
            </dict>
            <key>MenuScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2906,1122},{721,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{721,1140}}</string>
                <key>sourceSize</key>
                <string>{721,1140}</string>
            </dict>
            <key>MenuScreenBeaver.png</key>
            <dict>
                <key>frame</key>
                <string>{{2118,454},{233,387}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,387}}</string>
                <key>sourceSize</key>
                <string>{233,387}</string>
            </dict>
            <key>MenuScreenFish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2617,89},{133,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,119}}</string>
                <key>sourceSize</key>
                <string>{133,119}</string>
            </dict>
            <key>MenuScreenFish2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1105,3},{87,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,69}}</string>
                <key>sourceSize</key>
                <string>{87,69}</string>
            </dict>
            <key>MenuScreenFish3.png</key>
            <dict>
                <key>frame</key>
                <string>{{3889,3},{66,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>MenuScreenSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,89},{280,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,103}}</string>
                <key>sourceSize</key>
                <string>{280,103}</string>
            </dict>
            <key>MenuScreenSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,89},{281,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,103}}</string>
                <key>sourceSize</key>
                <string>{281,103}</string>
            </dict>
            <key>MenuScreenStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,1122},{719,931}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{719,931}}</string>
                <key>sourceSize</key>
                <string>{719,931}</string>
            </dict>
            <key>MiddleBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,222},{90,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,144}}</string>
                <key>sourceSize</key>
                <string>{90,144}</string>
            </dict>
            <key>MiddleGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,89},{101,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,96}}</string>
                <key>sourceSize</key>
                <string>{101,96}</string>
            </dict>
            <key>MiddleLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,3},{46,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,66}}</string>
                <key>sourceSize</key>
                <string>{46,66}</string>
            </dict>
            <key>MoveDetailLeftControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1786,89},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>MoveDetailRightControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,89},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>PlaceDetails.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,3},{75,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,51}}</string>
                <key>sourceSize</key>
                <string>{75,51}</string>
            </dict>
            <key>RemainTime.png</key>
            <dict>
                <key>frame</key>
                <string>{{935,3},{55,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,53}}</string>
                <key>sourceSize</key>
                <string>{55,53}</string>
            </dict>
            <key>RotateDetailControlInactive.png</key>
            <dict>
                <key>frame</key>
                <string>{{2135,89},{112,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,111}}</string>
                <key>sourceSize</key>
                <string>{112,111}</string>
            </dict>
            <key>SelectLevelBeaverForTalk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2307,222},{233,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,201}}</string>
                <key>sourceSize</key>
                <string>{233,201}</string>
            </dict>
            <key>SelectLevelBeaverTalkBlob.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,222},{301,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,185}}</string>
                <key>sourceSize</key>
                <string>{301,185}</string>
            </dict>
            <key>SelectLevelLeftGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,1122},{520,781}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{520,781}}</string>
                <key>sourceSize</key>
                <string>{520,781}</string>
            </dict>
            <key>SelectLevelRightGround.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,1122},{508,740}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{508,740}}</string>
                <key>sourceSize</key>
                <string>{508,740}</string>
            </dict>
            <key>SelectLevelScenePlayerStatusPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,222},{197,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,144}}</string>
                <key>sourceSize</key>
                <string>{197,144}</string>
            </dict>
            <key>SelectLevelScreeBeaverOnRaft.png</key>
            <dict>
                <key>frame</key>
                <string>{{2723,222},{164,206}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,206}}</string>
                <key>sourceSize</key>
                <string>{164,206}</string>
            </dict>
            <key>SelectLevelScreenBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2265},{720,1141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{720,1141}}</string>
                <key>sourceSize</key>
                <string>{720,1141}</string>
            </dict>
            <key>StartBlockCollectionLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1585,89},{84,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,110}}</string>
                <key>sourceSize</key>
                <string>{84,110}</string>
            </dict>
            <key>StartBossLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,222},{124,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,162}}</string>
                <key>sourceSize</key>
                <string>{124,162}</string>
            </dict>
            <key>StartGoodTimeLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2411,89},{83,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,116}}</string>
                <key>sourceSize</key>
                <string>{83,116}</string>
            </dict>
            <key>StartLevel.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,3},{60,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,61}}</string>
                <key>sourceSize</key>
                <string>{60,61}</string>
            </dict>
            <key>UnavailableSpellIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,89},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
            <key>VictoryConditionPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{2753,89},{140,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,125}}</string>
                <key>sourceSize</key>
                <string>{140,125}</string>
            </dict>
            <key>blackTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,3},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>blackTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,3},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>blueTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,3},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>blueTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,3},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>cohesionSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,89},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>firestormSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,89},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>goldTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,3},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>goldTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>greenTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,3},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,44}</string>
            </dict>
            <key>greenTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,3},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>kingBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,3},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>kingBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,3},{89,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,42}}</string>
                <key>sourceSize</key>
                <string>{89,42}</string>
            </dict>
            <key>princessesBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,3},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>princessesBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,3},{71,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,38}}</string>
                <key>sourceSize</key>
                <string>{71,38}</string>
            </dict>
            <key>queenBoss.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>queenBossWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,3},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>randomExplosionsSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,89},{102,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,102}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>redTetramino.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,3},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>redTetraminoWinConditionIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,3},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
            <key>rocketSpell.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,89},{101,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,101}}</string>
                <key>sourceSize</key>
                <string>{101,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{4096,4096}</string>
            <key>textureFileName</key>
            <string>LoadingScreenTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
