<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateNewPlayerControllerGoToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>CreateNewPlayerControllerGoToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,3},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>CreateNewPlayerControllerPlayerInputPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,470},{217,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,158}}</string>
                <key>sourceSize</key>
                <string>{217,158}</string>
            </dict>
            <key>MainGameEndPopResultLabelPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,470},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>MainGameEndPopResultLoseBeaverImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,697},{232,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,215}}</string>
                <key>sourceSize</key>
                <string>{232,215}</string>
            </dict>
            <key>MainGameEndPopUpGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,3},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,3},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>MainGameEndPopUpStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,3},{136,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,464}}</string>
                <key>sourceSize</key>
                <string>{136,464}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,3},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGamePauseGoToSelectLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,3},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGamePauseLabelImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,470},{223,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,224}}</string>
                <key>sourceSize</key>
                <string>{223,224}</string>
            </dict>
            <key>MainGamePausePopUpCloseActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>MainGamePausePopUpCloseInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,3},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>StartGameBackgroundSoundRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,3},{29,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,26}}</string>
                <key>sourceSize</key>
                <string>{29,26}</string>
            </dict>
            <key>StartGameSoundEffectsRegulator.png</key>
            <dict>
                <key>frame</key>
                <string>{{27,3},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>StartGameSoundRegulatorBackToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,3},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>StartGameSoundRegulatorBackToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,3},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
            <key>StartGameSoundRegulatorPlace.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,470},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>StartGameSoundRegulatorProgress.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,3},{180,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,7}}</string>
                <key>sourceSize</key>
                <string>{180,7}</string>
            </dict>
            <key>StartGameSoundRegulatorStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,3},{136,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,464}}</string>
                <key>sourceSize</key>
                <string>{136,464}</string>
            </dict>
            <key>StartGameSoundRegulatorThumb.png</key>
            <dict>
                <key>frame</key>
                <string>{{3,3},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainGamePausePopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
