<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CreateNewPlayerControllerBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{361,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,571}}</string>
                <key>sourceSize</key>
                <string>{361,571}</string>
            </dict>
            <key>CreateNewPlayerControllerStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,8},{136,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,464}}</string>
                <key>sourceSize</key>
                <string>{136,464}</string>
            </dict>
            <key>CreateNewPlayerControllerGoToMainMenuActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,8},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>CreateNewPlayerControllerPlayerInputPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,8},{217,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,158}}</string>
                <key>sourceSize</key>
                <string>{217,158}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,8},{13,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,25}}</string>
                <key>sourceSize</key>
                <string>{13,25}</string>
            </dict>
            <key>CreateNewPlayerControllerGoToMainMenuInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,587},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>CreateNewPlayerControllerTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
