<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainGameEndPopUpGoToSelectLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{78,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,34}}</string>
                <key>sourceSize</key>
                <string>{78,34}</string>
            </dict>
            <key>MainGameEndPopUpBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,8},{361,571}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,571}}</string>
                <key>sourceSize</key>
                <string>{361,571}</string>
            </dict>
            <key>MainGameEndPopUpStaircase.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,8},{136,464}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,464}}</string>
                <key>sourceSize</key>
                <string>{136,464}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelActiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,8},{140,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,38}}</string>
                <key>sourceSize</key>
                <string>{140,38}</string>
            </dict>
            <key>MainGameEndPopResultLoseBeaverImage.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,8},{232,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{232,215}}</string>
                <key>sourceSize</key>
                <string>{232,215}</string>
            </dict>
            <key>MainGameEndPopResultLabelPad.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,587},{211,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,47}}</string>
                <key>sourceSize</key>
                <string>{211,47}</string>
            </dict>
            <key>MainGameEndPopUpReplayLevelInactiveButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,587},{140,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,37}}</string>
                <key>sourceSize</key>
                <string>{140,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>textureFileName</key>
            <string>MainLosePopUpTextureAtlas.png</string>
        </dict>
    </dict>
</plist>
